<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devxhub.flutterscanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.devxhub.flutterscanner.BarcodeCaptureActivity" />
    </application>
</manifest>
